@tailwind utilities;

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8) hue-rotate(180deg);
}

svg * {
  transform-box: fill-box;
}

body,
.dot-background {
  background: linear-gradient(
      185deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 300px
    ),
    fixed 0 0 / 10px 10px radial-gradient(#d1d1d1 1px, transparent 0);
}

.dark body,
.dark .dot-background {
  background: linear-gradient(185deg, rgba(0, 0, 0, 0) 0%, #111 300px),
    fixed 0 0 / 10px 10px radial-gradient(#313131 1px, transparent 0);
}

.dot-background {
  background-attachment: initial;
}

.main-title {
  background: linear-gradient(180deg, #555, #000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark .main-title {
  background: linear-gradient(180deg, #fff, #aaa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadein-inplace {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.path-enter {
  stroke-dasharray: 100 100;
  stroke-dashoffset: 300;
}

@keyframes dash {
  to {
    stroke-dashoffset: 200;
  }
}

@keyframes dash-exit {
  to {
    stroke-dashoffset: 100;
  }
}
